@mixin dib ($valine: top){
	display: inline-block;
	vertical-align: $valine;
}

@mixin clearfix{
	&:before,
	&:after{
		content: '';
		display: table;
	}

	&:after{
		clear: both;
	}
}

@mixin brs($radius: 5px){
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;

	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
} 

@mixin box-shadow($string...){
	-webkit-box-shadow: $string;
	-moz-box-shadow: $string;
	box-shadow: $string;
} 

@mixin transition($transitions...){
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-ms-transition: $transition;
	-o-transition: $transition;
	transition: $transition;
} 

@mixin placecolor($color: #000000){
	&::-webkit-input-placeholder{
		color: $color;
	}
	&::-moz-placeholder{
			color: $color;
	}
	&:-moz-placeholder{
			color: $color;
	}
	&:-ms-input-placeholder{
			color: $color;
	}
} 

@mixin transform($transforms...){
	-moz-transform: $transforms;
	-o-transform: $transforms;
	-ms-transform: $transforms;
	-webkit-transform: $transforms;
	transform: $transforms;
}

@mixin absolute-center{
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	position: absolute;
}

@mixin vertical-grad($top, $bottom){
	background: $top; /* Old browsers */
    background: -moz-linear-gradient(top,  $top 0%, $bottom 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $top 0%,$bottom 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $top 0%,$bottom 100%); /* IE10+ */
    background: linear-gradient(to bottom,  $top 0%,$bottom 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

@mixin bb{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}