.footer{
	padding-top: 25px;
	border-top: 4px solid #914DCF;
	background-color: #373737;
	color: #fff;
}
.footer__logo-wrap{
	max-width: 251px;
}
.footer__logo{
	display: block;
	max-width: 100%;
}
.footer__nav{
	float: right;
}
.footer__item{
	@include dib(middle);
	font-size: 13px;
	&:before{
		content: '';
		@include dib(middle);
		width: 1px;
		height: 11px;
		margin: 0 24px;
		background-color: #767676;
	}
	&:first-child:before{
		display: none;
	}
}
.footer__link{
	display: inline-block;
	padding: 9px 0;
	font-family: $nexa;
	font-weight: 700;
	font-size: 12px;
	color: #fff;
	border-bottom: 4px solid transparent;

	&:hover, &:active{
		border-bottom-color: #9659D1;
		color: #fff;
	}
}
.footer__menu{
	margin-top: 5px;
	font-size: 0;
}
.footer__top{
	margin-bottom: 30px;
}
.footer__socials{
	text-align: center;
}
.footer__socials-list{
	font-size: 0;
	display: inline-block;
}
.footer__socials-item{
	display: inline-block;
	margin-left: 35px;

	&:first-child{
		margin-left: 0;
	}

	&:before{
			content: '';
			display: inline-block;
			margin-right: 6px;
	}

	&.footer__socials-item--twi{
		&:before{
		
			@include sprite($twi-small);
		}
	}
	&.footer__socials-item--facebook{
		&:before{
		
			@include sprite($facebook-small);
		}
	}
	&.footer__socials-item--rss{
		&:before{
		
			@include sprite($rss-small);
		}
	}
	&.footer__socials-item--mail{
		&:before{
		
			@include sprite($mail-small);
		}
	}
}
.footer__socials-link{
	font-family: $pt-sans;
	font-size: 12px;
	font-weight: 700;
	color: #fff;
}
.footer__middle{
	margin-bottom: 42px;
}
.footer__bottom-item{
	display: inline-block;
	font-size: 12px;
	margin-left: 12px;

	&:first-child{
		margin-left: 0;
	}
}
.footer__bottom-list{
	font-size: 0;
}