.main-visual{
	height: 537px;
	padding: 0;
	margin-top: -14px;
	z-index: 0;
	background: #6b3570 url(../img/bg_main-vis.jpg) center top no-repeat;
	background-size: cover;
	//background-attachment: fixed;
	position: relative;
}
.main-visual__paranja{
	@include absolute-center;

	background: url(../img/bg-main-viz-paranja.png) center no-repeat;
	opacity: .5;
}
.main-visual__circle{
	@include absolute-center;
	width: 138px;
	height: 138px;
	-webkit-border-radius: 69px;
	-moz-border-radius: 69px;
	border-radius: 69px;
	background-color: #451a4a;
	

	.central-icon{
		@include absolute-center;
		@include sprite($central-icon);
	}
}